<launch>
<node pkg="octomap_project" type="octomap_project_node" name="octomap_project">
		<param name="resolution" value="0.05" />
		<param name="filter_ground" value="false" />
		<param name="occupancy_min_z" value="0.02" />
		<param name="occupancy_max_z" value="0.5" />
		<!-- <param name="occupancy_max_z" value="false" /> -->
		<!-- <param name="ground_filter/plane_distance" value="10" /> -->
		<!-- <param name="ground_filter/distance" value="10" /> -->
		<param name="frame_id" type="string" value="map" />
		<remap from="cloud_in" to="/locus/octree_map" />
		<!-- <remap from="cloud_in" to="/$(arg ns)/velodyne_points" /> -->
		<!-- <remap from="projected_map" to="/$(arg ns)/octree_projected_map" />	 -->
		<remap from="projected_map" to="/locus/octree_projected_map" />	
	</node>
</launch>